body {

}

.oyster-container {
  width: 1000px;
  height: 500px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

svg {
  margin-block: auto;
}

svg .shellShadow {
  transform: translate(73%, 92%);
}

svg .shellBottom{
  transform: translate(25%, 60%);
}

svg .shellTop {
  transform-origin: 57% 25%;
  transform: translate(25%, 57%) rotate(0deg);
  animation-name: open;
  animation-duration: 8s;
  animation-delay: 4s;
  animation-timing-function: cubic-bezier(0.68, -0.15, 0.265, 1.55);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes open {

  10% {
    transform: translate(25%, 57%) rotate(0deg);
  }

  20%, 100% {
    transform: translate(25%, 70%) rotate(35deg);
  }
}